    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    body {
        background: #f5f7fa;
        padding-right: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        font-family: Montserrat;
    }

    .main-container {
        background: #fff;
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    }

    .aside-bar {
        background: #1e2939;
        width: 370px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .my-photo {
        width: 370px;
    }

    .about-me-container {
        padding-left: 90px;
        padding-right: 90px;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    .info {
        margin-bottom: 10px;
    }

    

    .contact-container {
        margin-left:  40px;
        margin-top: 60px;
        margin-right: 40px;

    }

    .contact-container-title {
        font-size: 22px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 20px;
    }

    .contact-link {
        color: #8e949c;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
    }

    .contact-container-c {
        width: 14px;
        height: 400px;
        color: #ffffff;
        line-height: 24px;
        margin-right: 10px;
    }

    .Tech-Skills-title {
        font-size: 24px;
        font-weight: 700;
        font-style: normal;
        color: #ffffff;
        margin-bottom: 20px;
    }

    .Tech-Skills-container {
        margin-left: 40px;
        margin-top: 55px;
        margin-right: 40px;
    }

    .Tech-Skills-itom {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-left: 15px;
        color: #ff6b08;
    }

    .Tech-Skills-itom2 {
        color: #cdd0d3; 
    }

    .Soft-Skills-container {
        margin-left: 40px;
        margin-top: 55px;
        margin-right: 40px;
    }

    .Soft-Skills-title {
        font-size: 22px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 20px;
    }

    .Soft-Skills-itom {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-left: 15px;
        color: #ff6b08;
    }

    .Soft-Skills-text {
        color: #cdd0d3; 
    }

    .profession {
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 23px;
    }

    .name {
        font-size: 45px;
        font-weight: 700;
        line-height: 89px;
        margin-bottom: 20px;
    }

    .description {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 24px;
    }

    .info-container {
        margin-bottom: 65px;
    }

    .Project-title {
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 11px;
    }

    .Project-link {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: #595959;
    }

    .tech-name {
        color: #595959;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    .dots {
        color: #bebebe;
        font-weight: 100;
    }

    .Project-item {
        font-weight: 700;
        margin-left: 17px;
    }

    .project-container {
        margin-bottom: 55px;
    }

    .title-profession {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .prof-color {
        color: #ff6b08;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    .data-profession {
        color: #c7c7c7;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 14px;
        margin-bottom: 14px;
    }

    .profession-devider {
        background-color: #000000;
    }
    
    .profession-itom {
        color: #595959;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 30px;
    }


        